.boxProjetos {
    width: 100%;
}
.boxCenter3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding-left: 10vw;
}
.boxSubTitle {
    width: 85%;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3vh;
    padding-left: 3vw;
}
#titleProj {
    color: white;
    font-size: 35px;
}
#allProjects {
    color: rgba(255, 255, 255, 15%)
}
#allProjects:hover {
    color: rgba(255, 255, 255, 30%)
}
#projetos {
    scroll-margin-top: 20vh;
}

@media(max-width:768px) {
    .boxProjetos {
        width: 90%;
        margin-left: 5vw;
    }
    .boxCenter3{
        padding-left: 0;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .boxTit {
        text-align: center;
    }
    #titleProj {
        font-size: 30px;
    }
    .boxSubTitle {
        flex-direction: column;
    }
    #allProjects {
        margin-top: 2vh;
    }

}